img {
  width: 40px;
  cursor: pointer;
}

#overlay {
  overflow: hidden;
}

#icon {
  border-radius: 50%;
  cursor: pointer;
  animation: pulse 2s infinite;
  position: absolute;
  right: 5px;
  top: 68px;
  z-index: 1;
}

#options {
  position: absolute;
  top: 70px;
  right: 30px;
}

.option {
  position: absolute;
  opacity: 0.1;
  top: 0;
  left: -15px;
  transition: all 0.5s;
}

.option.show {
  opacity: 1;
}

.option.show#smile {
  top: -65px;
  left: -35px;
}

.option.show#cry {
  left: -35px;
  top: 65px;
}

.option.show#heart {
  left: -55px;
  top: -22px;
}

.option.show#laugh {
  left: -55px;
  top: 22px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
